@font-face {
    font-family: 'Ananda Personal Use';
    src: url('../fonts/Ananda\ Personal\ Use.ttf');
    /* font-family: 'Home And Work';
    src: url('../fonts/Home\ And\ Work.otf'); */
}

.nav-estilos{
    background-color: rgb(224, 63, 29);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 5px 5px;
}

.name-app{
    font-family: 'Ananda Personal Use';
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
}

.name-app:hover{
    color: rgb(10, 148, 95);
}

.contenedor-estilos{
    padding: 15px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.form-estilos{
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
    background-color: rgb(224, 63, 29);
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.estilos-opciones{
    width: 100%;
    height: 25vh;
    background-color: rgb(224, 63, 29);
}

.estilo-texto{
    font-family: 'Ananda Personal Use';
}

.btn-estilos{
    border-radius: 10px;
    font-family: 'Ananda Personal Use';
    font-size: xx-large;
    color: white;
    border: 1px solid rgb(10, 148, 95);
    box-shadow: 3px 3px 10px gray;
}

.fondo1{
    background: url('../img/desayuno.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo2{
    background: url('../img/almuerzo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo3{
    background: url('../img/cena.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo4{
    background: url('../img/bebida.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-estilos:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 10px gray;
    transition: 0.5s ease-in-out;
}

.estilos-vista-repartidores{
    width: 60vw; 
    margin: 0 auto; 
}

.estilos-encabezado-tabla{
    background-color: rgb(10, 148, 95);
    color: white;
    font-size: large;
}

.tamanio-texto{
    font-size: large;
}

.estilos-eliminar{
    background-color: rgb(224, 63, 29);;
}

.estilos-info{
    background-color: rgb(10, 148, 95);
}

table{
    border: 1px solid rgb(10, 148, 95);
    box-shadow: 1px 1px 25px rgba(10, 148, 95, 0.15);
}

tr th{
    text-align: center;
}

tbody td{
    text-align: center;
}

@media (max-width: 425px) { 
    .text-estilos{
        font-size: small;
    }
    
    .span-hide{
        display: none;
    }
}

@media (max-width: 768px){
    body{
        background-image: url("../img/fondo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}